*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow-x: hidden;
} */
header{
     background: linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 91, 212, 0.5) 100%
  );
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero{
    height: 100vh;
    background-image: url(./images/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay{
    min-height: 30vh;
    background-color: rgba(0, 0, 0, 0.3)
}
#menu{
       background: linear-gradient(
    90deg,
    rgba(163, 80, 58, 1) 0%,
    rgba(0, 91, 212, 0.5) 100%,
    rgba(238, 130, 238, 1) 100%
  );
  text-align: center;
}
.menu{
display: flex;
justify-content: center;
align-items: center;
gap: 1.25rem;
flex-wrap: wrap;
}
.card{
   transition: scale 1s ease;
}
.card:hover {
  scale: 1.05;
  box-shadow: 10px 8px 5px rgb(68, 65, 65);
  cursor: pointer;
    background-color: gray;
}

#contact{
    background: linear-gradient(
    90deg,
    rgba(163, 80, 58, 1) 0%,
    rgba(238, 130, 238, 1) 100%,
    rgba(0, 91, 212, 0.5) 100%
  );
}
#location{
     background: linear-gradient(
    90deg,
    rgba(163, 80, 58, 1) 0%,
    rgba(238, 130, 238, 1) 100%,
    rgba(0, 91, 212, 0.5) 100%
  );
}
.social a:nth-child(even){
    color: red;
}
.social a:nth-child(odd){
    color: black;
}
.social a:nth-child(1){
    color: blue;
}